name: "CI/CD Pipeline"

on:
    push:
        branches: [main]
    pull_request: 
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest

        env:
            SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}

        strategy:
            matrix:
                node-version: [16.x, 18.x, 20.x]
        
        steps: 
            - uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
                cache: 'npm'
            
            - run: npm ci
            # - run: npm run lint
            - run: npm run build --if-present
            - run: npm test
            
    deploy:
        needs: build
        runs-on: ubuntu-latest

        steps: 
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push to Docker Hub
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: |
                    ${{ secrets.DOCKERHUB_USERNAME }}/cc-backend-api:latest
                    ${{ secrets.DOCKERHUB_USERNAME }}/cc-backend-api:${{ github.sha }}
              